body {
	background: transparent url(images/papel.jpg) top left repeat;
	border-top: 10px solid black;
	margin: 0;
	font-family: constantia,palatino,Georgia,"Times New Roman",Times,serif;
	font-size: 62.5%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}



#content {
	width: 550px;
	margin: auto;
}



h1 {
  margin: 0;
	background: transparent url(images/logo.jpg) top left no-repeat;
	width: 251px;
	height: 159px;
	overflow: hidden;
	text-indent: 1000px;
}


h2 {
   font-size: 2em; 
   margin: 2.5em 0 1.4em 0;
   font-weight: normal;
   text-transform: uppercase;
}

h2 a {
    color: black;
    text-decoration: none;
}

.post li, .post dd, .post dt, .post td, .post tr, .post th {
    font-size: 1.5em;
}

.post p {
    font-size: 1.5em;
    line-height:1.5em;
    margin-bottom:1.2em;
    color: #1B1B1B;
}

.post blockquote {
    margin: 3em 0 3em 4em;
}
.post blockquote p{
    color: #333333;
}

.post p a img {
    border: none;
}

.post p.postmetadata {
    text-align: center;
    margin: 1.7em 0 0 0;
    font-style: italic;
font-size: 1.5em;
}

#pie {
    font-size: 1.3em;
    margin: 5em 0 3em 0;
    text-align: center;
}

#pie h2 {
    margin: 5em 0 0 0;
}
