* {
	font-size: 13pt;
	font-weight: normal;
}

body {
	margin:1em;
	background: 000;
	font-family: 'courier new';
	color: #00FF00;
	background: #000400;
}

a {
	background: #00FF00;
	color: #223;
	font-weight: bold;
	padding-right: .25em;
}

h1 {
	font-weight: bold;
	color: #000400;
	background: #00FF00;
}
