body {
	background: transparent url(images/papel.jpg) top left repeat;
	border-top: 10px solid black;
	margin: 0;
	font: 1.2em 'skolar regular', georgia, serif;
  line-height: 150%;
}

#content {
	width: 550px;
	margin: auto;
}

h1 {
  margin: 0;
	background: transparent url(images/logo.jpg) top left no-repeat;
	width: 251px;
	height: 159px;
	overflow: hidden;
	text-indent: 1000px;
}
